$pink: #FF1D6C;
$yellow: #FFB72C;
$green: #007350;

.text-pink {
  color: $pink;
}
.text-yellow {
  color: $yellow;
}
.text-green {
  color: $green;
}

.navbar {
  padding: 20px 110px;
}
.jumbotron-wrap {
  width: 100%;
  height: 540px;
  padding: 20px 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}
.jumbotron-img {
  background-image: url('~@/assets/images/jumbotron01.png');
  background-size: cover;
  background-position: center;
}
.jumbotron-text {
  max-width: 490px;
}

.footer-wrap {
  color: #ACACAC;
  font-size: 12px;
  line-height: 14px;
  padding: 25px;
}